{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Tanner's Cache Quest</h3>
            </div>
            <div class="panel-body">
                <p></p>

                <div class="form-group">
                    <label class="control-label">Part 1: CSH has a firedemon. Learn about it and what service it performs. The product name is key.</label>
                    <div class="input-group">
                        <span class="input-group-addon">Answer: </span>
                        <input type="text" class="form-control" data-question="1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-question="1">Check</button>
                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                    data-placement="right"
                                    data-content="Meet some Root Type People." data-original-title=""
                                    title="">
                                <span class="glyphicon glyphicon-eye-open"></span> Hint
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Part 2: Meet some 3DAs. Find out what type of plastic our Makerbot uses.</label>
                    <div class="input-group">
                        <span class="input-group-addon">Answer: </span>
                        <input type="text" class="form-control" data-question="2">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-question="2">Check</button>
                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                    data-placement="right"
                                    data-content="Find a 3D Print admin" data-original-title=""
                                    title="">
                                <span class="glyphicon glyphicon-eye-open"></span> Hint
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Part 3: Learn about the four drink machines on floor. One of the four is the key you need.</label>
                    <div class="input-group">
                        <span class="input-group-addon">Answer: </span>
                        <input type="text" class="form-control" data-question="3">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-question="3">Check</button>
                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                    data-placement="right"
                                    data-content="Find the youngest drink admin." data-original-title=""
                                    title="">
                                <span class="glyphicon glyphicon-eye-open"></span> Hint
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Part 4: Learn about the CSH Constituion. The key is to know which command you need to "build" the CSH's Constitution.</label>
                    <div class="input-group">
                        <span class="input-group-addon">Answer: </span>
                        <input type="text" class="form-control" data-question="3">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-question="3">Check</button>
                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                    data-placement="right"
                                    data-content="Find a Constitutional Maintainer." data-original-title=""
                                    title="">
                                <span class="glyphicon glyphicon-eye-open"></span> Hint
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Part 5: CSHers each have their own key to floor. Well its more of a button. What protcol does it use?</label>
                    <div class="input-group">
                        <span class="input-group-addon">Answer: </span>
                        <input type="text" class="form-control" data-question="3">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-question="3">Check</button>
                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
                                    data-placement="right"
                                    data-content="Spelling is key. Datasheets are reliable." data-original-title=""
                                    title="">
                                <span class="glyphicon glyphicon-eye-open"></span> Hint
                            </button>
                        </span>
                    </div>
                </div>
 
           </div>
        </div>
    </div>
</div>
{% endblock %}
